<div class="container mt-5 mb-5">
    <h5>{{mensaje}}</h5>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio Unidad</th>
            <th scope="col">Sub total</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of cart$ | async; let i=index">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ product.NOMBRE }}</td>
            <td>{{ product.CANTIDAD }}</td>
            <td>{{ product.PRECIO | currency}}</td>
            <td>{{ product.PRECIO * product.CANTIDAD | currency}}</td>
        </tr>
        </tbody>
    </table>

    <strong>Total: <span>{{ total$ | async | currency }}</span></strong>
    <button (click) = "comprar()" class="btn btn-primary float-end">Comprar</button>
</div>