<div *ngIf="mensajeRecupero.length > 0" class="alert-danger m-5 p-2 rounded">{{mensajeRecupero}}</div>
<div class="container-fluid">
    <div class="row main-content bg-success text-center">
        <div class="col-md-4 text-center company__info">
            <span class="company__logo">
                <h2><span class="fab fa-angular"></span></h2>
            </span>
            <h4 class="company_title">Taller Web 2</h4>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
            <div class="container-fluid">
                <div class="row">
                    <h2>Recuperar Password</h2>
                </div>
                <div class="row">
                    <div *ngIf="estado == 'SOLI_EMAIL'; then mail else cambioPass"></div>
                    <ng-template #mail>
                        <form [formGroup]="recFormA" control="" class="form-group" (ngSubmit)="solicitarCodigo()">
                            <div class="row">
                                <input formControlName="email" type="email" name="email" id="email" class="form__input"
                                    placeholder="E-Mail">
                                <control-messages [control]="recFormA.get('email')" [field]="'Email'"
                                    class="text-start text-danger"></control-messages>
                            </div>
                            <div class="row">
                                <input type="submit" value="Solicitar Codigo" class="btn" [disabled]="!recFormA.valid">
                            </div>
                        </form>
                    </ng-template>
                    <ng-template #cambioPass>
                        <form [formGroup]="recFormB" control="" class="form-group" (ngSubmit)="solicitarCambio()">
                            <div class="row">
                                <input formControlName="password" type="password" name="password" id="password"
                                    class="form__input" placeholder="Nueva Password">
                                <control-messages [control]="recFormB.get('password')" [field]="'Password'"
                                    class="text-start text-danger"></control-messages>
                            </div>
                            <div class="row">
                                <input formControlName="codigo" type="number" name="codigo" id="codigo"
                                    class="form__input" placeholder="Codigo">
                                <control-messages [control]="recFormB.get('codigo')" [field]="'Codigo'"
                                    class="text-start text-danger"></control-messages>
                            </div>
                            <div class="row">
                                <input type="submit" value="Cambiar Password" class="btn" [disabled]="!recFormB.valid">
                            </div>
                        </form>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>