<div class="col mb-5">
    <div class="card h-100">
        <img class="card-img-top" src="http://localhost:3000/images/products/{{ product.IMAGEN }}" alt="...">
        <div class="card-body p-4">
            <div class="text-center">
                <h5 class="fw-bolder">{{ product.NOMBRE }}</h5>
                <p>{{ product.DESCRIPCION }}</p>
                ${{ product.PRECIO }}
            </div>
        </div>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><button class="btn btn-outline-dark mt-auto" (click)="onClick()">Comprar</button></div>
        </div>
    </div>
</div>
