<div class="container-fluid">
    <div class="row main-content bg-custom text-center">
        <div class="col-md-4 text-center company__info">
            <span class="company__logo"><h2><i class="fab fa-angular"></i></h2></span>
            <h4 class="company_title">Taller Web 2</h4>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
            <div class="container-fluid">
                <div class="row">
                    <h2>Register</h2>
                </div>
                <div class="row">
                    <form [formGroup]="registerForm" class="form-group" (ngSubmit)="registrarse(registerForm.value)">
                        <h5 class="text-start">Datos de Usuario</h5>
                        <div class="row">
                            <input formControlName="email" type="email" name="email" id="email" class="form__input" placeholder="E-Mail">
                            <control-messages [control]="registerForm.get('email')" [field]="'Email'" class="text-start text-danger"></control-messages>
                        </div>
                        <div class="row">
                            <input formControlName="password" type="password" name="password" id="password" class="form__input" placeholder="Password">
                            <control-messages [control]="registerForm.get('password')" [field]="'Password'" class="text-start text-danger"></control-messages>
                        </div>
                        <h5 class="text-start mt-4">Datos Personales</h5>
                        <div class="row">
                            <input formControlName="name" type="text" name="name" id="name" class="form__input" placeholder="Nombre">
                            <control-messages [control]="registerForm.get('name')" [field]="'Nombre'" class="text-start text-danger"></control-messages>
                        </div>
                        <div class="row">
                            <input formControlName="family_name" type="text" name="family_name" id="family_name" class="form__input" placeholder="Apellido">
                            <control-messages [control]="registerForm.get('family_name')" [field]="'Apellido'" class="text-start text-danger"></control-messages>
                        </div>
                        <div class="row">
                            <input formControlName="address" type="text" name="address" id="address" class="form__input" placeholder="Direccion">
                            <control-messages [control]="registerForm.get('address')" [field]="'Direccion'" class="text-start text-danger"></control-messages>
                        </div>

                        <div class="row">
                            <input type="submit" value="Registrarse" class="btn" [disabled]="!registerForm.valid">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>