<header id="page-top" class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container d-flex justify-content-between px-4 px-lg-5">
            <div>
                <a class="navbar-brand" routerLink="/" routerLinkActive="active">Mercado Fake</a>
            </div>
            <div>
                <ul class="navbar-nav  me-auto mb-2 mb-lg-0 ms-lg-4">

                    <div *ngIf="enSesion(); then login else logout"></div>
                    <ng-template #login>
                        <li>
                            <app-cart (click)="goToOrderPage()"></app-cart>
                        </li>
                        <li class="nav-item float-end"><a class="nav-link" routerLink="/create-product"
                                routerLinkActive="active">Nuevo Producto</a></li>
                        <li class="nav-item float-end"><a (click)="cerrarSesion()" class="nav-link">Log out</a></li>
                    </ng-template>
                    <ng-template #logout>
                        <li class="nav-item float-end"><a class="nav-link" routerLink="/login"
                                routerLinkActive="active">Log in</a>
                        </li>
                        <li class="nav-item float-end"><a class="nav-link" routerLink="/register"
                                routerLinkActive="active">Register</a></li>
                    </ng-template>
                </ul>
            </div>
        </div>
    </nav>
</header>